### Encrypt after setting up your passwords and secret tokens!
### To generate secure passwords, try running "openssl rand -base64 32" where "32" is the length of the password
### Once you have edited this file, run the following as root (sudo -i):
###> openssl rand -base64 128 > /root/.secret/ansible-password
###> chmod -R 600 /root/.secret/
###> ansible-vault encrypt --vault-password-file /root/.secret/ansible-password secret.yml
### When running a playbook, add the following to the command and run as root (sudo -i)
### ansible-playbook --vault-password-file /root/.secret/ansible-password 

###
### Bitwarden
###
# Keep this token secret, this is password to access admin area of your server!
# This token can be anything, but it's recommended to use a long, randomly generated string of characters,
# for example running openssl rand -base64 48
bitwarden_admin_token: "qwertyuiop1234567890poiuytrewq0987654321"

###
### Cloudflare DDNS
###
# Cloudflare 'Global API Key', can be found on the 'My Profile' page
cloudflare_api_key: "abcdeabcdeabcdeabcde1234512345"

###
### Firefly
###
# try running running "openssl rand -base64 32"
firefly_app_key: "S0m3R@nd0mString0f32Ch@rsEx@ct1y"
firefly_mysql_password: "secure1234"
firefly_root_mysql_password: "supersecure1234"
