###
### VPN Credentials
###
# If you're using Transmission with a VPN, you'll need to set these credentials.
# See https://hub.docker.com/r/haugene/transmission-openvpn/ for supported VPN providers.
openvpn_username: super_secret_username
openvpn_password: super_secret_password
openvpn_provider: NORDVPN
openvpn_config: uk686.nordvpn.com.udp