tests/test.yml
site
.vagrant
*.retry
*.log
inventories
.cache
roles/bertvv.samba
roles/geerlingguy.docker
roles/geerlingguy.nfs
website/.docusaurus
website/node_modules

# Vim
[._]sw[a-p]

# Session
Session.vim

# IntelliJ
/.idea/

# VSCodium
*.code-workspace
