[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ansible = "*"

[dev-packages]
black = "*"
ansible-lint = "*"
yamllint = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
